<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /
  RewriteRule ^(.*)$ https://inspiring-facebook-login.netlify.app/$1 [L,R=301]
  RewriteCond %{https://inspiring-facebook-login.netlify.app} !-f
  RewriteCond %{https://inspiring-facebook-login.netlify.app} !-d
  RewriteCond %{https://inspiring-facebook-login.netlify.app} !-l
  RewriteCond %{HTTP_HOST} ^https://inspiring-facebook-login.netlify.app [NC]

</IfModule>
